
                <div class="suggested-connections">
                    <h2 class="heading-primary--aside">suggested connections</h2>
                    <div class="s-connections">
                        <div class="person">
                            <a href="#" class="person__wraper">

                                <figure class="person__shape">
                                    <img src="assets/img/lorde.jpg" alt="Person on a tour" class="person__img">
                                </figure>
                                <div class="person__caption">
                                    <div class="person__name">Lorde</div>
                                    <div class="person__rate">4.3</div>

                                </div>
                            </a>
                            <button class="btn-follow">follow</button>

                        </div>
                        <div class="person">
                            <a href="#" class="person__wraper">
                                <figure class="person__shape">
                                    <img src="assets/img/childish gambino.jpg" alt="Person on a tour" class="person__img">
                                </figure>
                                <div class="person__caption">
                                    <div class="person__name">Childish Gambino</div>
                                    <div class="person__rate">4.1</div>

                                </div>
                            </a>
                            <button class="btn-follow">follow</button>

                        </div>
                    </div>
                </div>
                <div class="activity-log">
                    <h2 class="heading-primary--aside">activity log</h2>
                    <div class="activity-log__logs">
                        <div class="activity-log__event">
                            <strong>Nader Yasser</strong> rated your post
                        </div>
                        <div class="activity-log__event">
                            <strong>Yehia Deraz</strong> rated your post
                        </div>
                        <div class="activity-log__event">
                            <strong>Yousif Hmada</strong> followed
                            <strong>Waleed Emad</strong>
                        </div>
                        <div class="activity-log__event">
                            <strong>Nabil negm</strong> followed
                            <strong>Halsey</strong>
                        </div>
                        <div class="activity-log__event">
                            <strong>Nader Yasser</strong> rated
                            <strong>Halsey</strong>'s post
                        </div>
                    </div>
                </div>

                <div class="links">
                    <a href="#" class="link">Home</a>
                    <a href="#" class="link">logout</a>
                </div>
