<div class="connections">
     <div class="connection">
                    <a href="#" class="connection__wraper">

                        <figure class="connection__shape">
                            <img src="img/lorde.jpg" alt="Person on a tour" class="connection__img">
                        </figure>
                        <div class="connection__caption">
                            <div class="connection__name">Lorde</div>
                            <div class="connection__rate">4.3</div>

                        </div>
                    </a>
                    <button class="btn-follow">view profile</button>
                    
                   </div>
                   <div class="connection">
                    <a href="#" class="connection__wraper">

                        <figure class="connection__shape">
                            <img src="img/lorde.jpg" alt="Person on a tour" class="connection__img">
                        </figure>
                        <div class="connection__caption">
                            <div class="connection__name">Lorde</div>
                            <div class="connection__rate">4.3</div>

                        </div>
                    </a>
                    <button class="btn-follow">view profile</button>
                    
                   </div>
                   <div class="connection">
                    <a href="#" class="connection__wraper">

                        <figure class="connection__shape">
                            <img src="img/lorde.jpg" alt="Person on a tour" class="connection__img">
                        </figure>
                        <div class="connection__caption">
                            <div class="connection__name">Lorde</div>
                            <div class="connection__rate">4.3</div>

                        </div>
                    </a>
                    <button class="btn-follow">view profile</button>
                    
                   </div>
                   <div class="connection">
                    <a href="#" class="connection__wraper">

                        <figure class="connection__shape">
                            <img src="img/lorde.jpg" alt="Person on a tour" class="connection__img">
                        </figure>
                        <div class="connection__caption">
                            <div class="connection__name">Lorde</div>
                            <div class="connection__rate">4.3</div>

                        </div>
                    </a>
                    <button class="btn-follow">view profile</button>
                    
                   </div>
                   <div class="connection">
                    <a href="#" class="connection__wraper">

                        <figure class="connection__shape">
                            <img src="img/lorde.jpg" alt="Person on a tour" class="connection__img">
                        </figure>
                        <div class="connection__caption">
                            <div class="connection__name">Lorde</div>
                            <div class="connection__rate">4.3</div>

                        </div>
                    </a>
                    <button class="btn-follow">view profile</button>
                    
                   </div>
                

</div>                
                  