<div class="posts__post">
                        <a href="#">
                            <div class="posts__post-head">
                                <figure class="post-head__shape">
                                    <img src="assets/img/childish gambino.jpg" alt="Person on a tour" class="post-head__img">
                                </figure>
                                <div class="post-head__caption">
                                    <div class="post-head__name">Childish Gambino</div>
                                </div>
                            </div>
                        </a>
                       
                            <div class="posts__post-body">
                                <p>
                                        We just wanna party
                                        Party just for you
                                        We just want the money
                                        Money just for you
                                        I know you wanna party
                                        Party just for me
                                </p>
                            </div>
                            <div class="posts__post-rate"></div>
                            <div class="posts__post-comments">
                                    <form action="" class="comments__add">
                                            <input type="text" class="comments__add__input" placeholder="write something">
                                            <button type="submit" class="btn-post">comment</button>
                                    </form>
                                <h2 class="comments-head">Comments</h2>
                                <div class="post__comment">
                                    <a href="#" class="comment-name">Lorde</a>
                                    <p class="comment-body">get some money , black man dignissimos possimus culpa non consequatur, quod voluptatibus facere ipsam deserunt. Cumque officia maiores omnis deleniti.</p>
                                </div>
                                <div class="post__comment">
                                        <a href="#" class="comment-name">Adele</a>
                                        <p class="comment-body">get some money , black man Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, nostrum consequatur. Et a eum quibusdam, dignissimos possimus culpa non consequatur, quod voluptatibus facere ipsam deserunt. Cumque officia maiores omnis deleniti.</p>
                                    </div>
                            </div>
                        </div>
                       