<section class="section-profile">
        <div class="header">

            <a  class="user">
                <figure class="user__shape">
                    <figcaption class="caption-letter">{{name.slice(0,1)}}</figcaption>
                </figure>
                <div class="user__caption">
                    <div class="user__name">{{name}}</div>
                    <div class="user__rate">{{rate || '0.0'}}</div>
                </div>
              <button *ngIf="status == 'follower'" (click)="follow(id)" class="btn-follow2">follow</button>
              <button *ngIf="status == 'following' || status == 'both'" (click)="unfollow(id)" class="btn-follow2">unfollow</button>

            </a>


        </div>

        <div class="content">
                <div class="content__aside">
                        <div class="search">
                                <input type="text" class="search__input" placeholder="Search">
                                <button class="search__button">
                                    <img src="assets/img/search.svg" alt="" class="search__icon">
                                </button>
                            </div>
                    
                
                <div class="suggested-connections">
                    <h2 class="heading-primary--aside">suggested connections</h2>
                    <div class="s-connections">
                        <div class="person" *ngFor="let one of suggestedFriends">
                            <a  class="person__wraper">

                                <figure class="person__shape">
                                    <figcaption class="caption-letter">{{one.name.slice(0,1)}}</figcaption>
                                </figure>
                                <div class="person__caption">
                                    <a [routerLink]="['/profile']" [queryParams]="{'id':one._id}" class="person__name">{{one.name}}</a>

                                </div>
                            </a>
                            <button (click)="follow(one._id)" class="btn-follow">follow</button>

                        </div>
                    </div>
                </div>
                    <div class="activity-log">
                        <h2 class="heading-primary--aside">activity log</h2>
                        <div class="activity-log__logs">
                            <div class="activity-log__event">
                                <a  class="log"><strong>Nader Yasser</strong></a> rated your post
                            </div>
                            <div class="activity-log__event">
                                    <a  class="log"><strong>Nader Yasser</strong></a> rated your post
                            </div>
                            <div class="activity-log__event">
                                    <a  class="log"><strong>Nader Yasser</strong></a> followed
                                    <a  class="log"><strong>Nader Yasser</strong></a>
                            </div>
                            <div class="activity-log__event">
                                    <a  class="log"><strong>Nader Yasser</strong></a> followed
                                    <a  class="log"><strong>Nader Yasser</strong></a>
                            </div>
                            <div class="activity-log__event">
                                    <a  class="log"><strong>Nader Yasser</strong></a> rated
                                    <a  class="log"><strong>Nader Yasser</strong></a>'s post
                            </div>
                        </div>
                    </div>
    
                    <div class="links">
                        <a routerLink="/home" class="link">home</a>
                        <a  class="link">logout</a>
                    </div>
                </div>

            <div class="content__area">
                <div class="navigation">
                    <ul class="navigation__nav">
                        <li>
                            <a (click)="this.section = 'activity'" [ngClass]="{'active': this.section == 'activity'}" class="link">activity</a>
                        </li>
                        <li>
                            <a (click)="this.section = 'followers'" [ngClass]="{'active': this.section == 'followers'}" class="link">followers ({{followers.length}})</a>
                        </li>
                        <li>
                            <a (click)="this.section = 'following'" [ngClass]="{'active': this.section == 'following'}" class="link">following ({{following.length}})</a>
                        </li>
                    </ul>
                </div>

                <div class="connections" *ngIf="this.section == 'followers'">
                   <div class="connection" *ngFor="let follower of followers">
                    <a [routerLink]="['/profile']" [queryParams]="{'id':follower._id}" class="connection__wraper">

                        <figure class="connection__shape">
                    <figcaption class="caption-letter">{{follower.name.slice(0,1)}}</figcaption>                            
                        </figure>
                        <div class="connection__caption">
                            <div class="connection__name">{{follower.name}}</div>
                        </div>
                    </a>
                    <a class="btn-follow" [routerLink]="['/profile']" [queryParams]="{'id':follower._id}">view profile</a>
                    
                   </div>
                </div>

                <div class="connections" *ngIf="this.section == 'following'">
                   <div class="connection" *ngFor="let follower of following">
                    <a [routerLink]="['/profile']" [queryParams]="{'id':follower._id}" class="connection__wraper">

                        <figure class="connection__shape">
                    <figcaption class="caption-letter">{{follower.name.slice(0,1)}}</figcaption>

                        </figure>
                        <div class="connection__caption">
                            <div class="connection__name">{{follower.name}}</div>
                        </div>
                    </a>
                    <a class="btn-follow" [routerLink]="['/profile']" [queryParams]="{'id':follower._id}">view profile</a>
                    
                   </div>
                </div>

                <div class="posts" *ngIf="this.section == 'activity'">
                        <div class="posts__add-post">
                            <form action="" class="posts__add">
                                <input type="text" class="posts__add__input" placeholder="whats on tour mind..." #in>
                                <button (click)="addPost(in.value);in.value = '';" type="submit" class="btn-post">Post</button>
                            </form>
                        </div>


                        <div class="posts__post" *ngFor="let post of posts;let i of index">
                                    <div class="post-shared" *ngIf="post.shared">
                                        <!-- <img src="/assets/img/share-symbol.svg" class="share-icon" > -->
                                        <span class="shared"> > from <a [routerLink]="['/profile']" [queryParams]="{'id':post.results.user_id}" class="log">{{post.results.name}}</a></span>
                                    </div>
                                        <div class="posts__post-head">
                                    <a >
                                            <figure class="post-head__shape">
                    <figcaption class="caption-letter">{{post.name.slice(0,1)}}</figcaption>
                                            </figure>
                                            <div class="post-head__caption">
                                                <a [routerLink]="['/profile']" [queryParams]="{'id':post.user_id}" class="post-head__name">{{post.name}}</a>
                                                <span class="date">{{post.date | date}}</span>
                                            </div>
                                        </a>
                                        <button *ngIf="compare(post.user_id)" (click)="removePost(post._id)" class="btn-remove"><img  class="remove-icon" src="/assets/img/delete-button.svg" ></button>
                                        
                                    </div>
            
                                    <div class="posts__post-body">
                                        <p>
                                            {{post.body}}
                                        </p>
                                    </div>
                                    <div class="posts__post-options">
                                        <div class="post-rate"></div>
                                        <button (click)="sharePost(post._id)" class="btn-remove">share </button>
                                        
                                    </div>
                                    <div class="posts__post-comments">
            
                                        <div class="comments-head">Comments</div>
                                        <div class="post__comment" *ngFor="let comment of post.comments">
                                           <div class="wraper">
                                               <a [routerLink]="['/profile']" [queryParams]="{'id':comment.user_id}" class="comment-name">{{comment.name}}</a>
                                               <span class="date">{{comment.date | date}}</span>
                                           </div>
                                            
                                            <p class="comment-body">{{comment.body}}</p>
                                        <button *ngIf="compare(comment.user_id)" (click)="removeComment(comment._id)" class="btn-remove"><img  class="remove-icon" src="/assets/img/delete-button.svg" ></button>
                                               
                                        </div>
                                        <form action="" class="comments__add">
                                            <input type="text" class="comments__add__input" placeholder="write something" #in>
                                            <button (click)="addComment(post._id, in.value);in.value = '';" type="submit" class="btn-post">comment</button>
                                        </form>
                                    </div>
                                </div>   
    
                    </div>

                </div>


            </div>

    </section>