<section class="section-home">

        <div class="content">
            <div class="content__aside">
                <div class="search">
                    <input type="text" class="search__input" placeholder="Search">
                    <button class="search__button">
                        <img src="assets/img/search.svg" alt="" class="search__icon">
                    </button>
                </div>
                <div class="suggested-connections">
                    <h2 class="heading-primary--aside">suggested connections</h2>
                    <div class="s-connections">
                        <div class="person" *ngFor="let one of suggestedFriends">
                            <a href="#" class="person__wraper">

                                <figure class="person__shape">
                                    <img src="assets/img/lorde.jpg" alt="Person on a tour" class="person__img">
                                </figure>
                                <div class="person__caption">
                                    <a [routerLink]="['/profile']" [queryParams]="{'id':one._id}" class="person__name">{{one.name}}</a>

                                </div>
                            </a>
                            <button (click)="follow(one._id)" class="btn-follow">follow</button>

                        </div>
                    </div>
                </div>
                <div class="activity-log">
                        <h2 class="heading-primary--aside">activity log</h2>
                        <div class="activity-log__logs">
                            <div class="activity-log__event">
                                <a href="#" class="log"><strong>Nader Yasser</strong></a> rated your post
                            </div>
                            <div class="activity-log__event">
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a> rated your post
                            </div>
                            <div class="activity-log__event">
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a> followed
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a>
                            </div>
                            <div class="activity-log__event">
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a> followed
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a>
                            </div>
                            <div class="activity-log__event">
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a> rated
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a>'s post
                            </div>
                        </div>
                    </div>
                <div class="links">
                    <a routerLink="/profile" class="link">profile</a>
                    <a href="#" class="link">logout</a>
                </div>
            </div>


            <div class="content__area">


                <div class="posts">
                        <div class="posts__add-post">
                            <form action="" class="posts__add">
                                <input type="text" class="posts__add__input" placeholder="whats on tour mind..." #in>
                                <button (click)="addPost(in.value);in.value = '';" type="submit" class="btn-post">Post</button>
                            </form>
                        </div>


                        <div class="posts__post" *ngFor="let post of posts;let i of index">
                                    <div class="post-shared" *ngIf="post.shared">
                                        <!-- <img src="/assets/img/share-symbol.svg" class="share-icon" > -->
                                        <span class="shared"> > from <a [routerLink]="['/profile']" [queryParams]="{'id':post.results.user_id}" class="log">{{post.results.name}}</a></span>
                                    </div>
                                        <div class="posts__post-head">
                                    <a href="#">
                                            <figure class="post-head__shape">
                                                <!-- <img src="img/childish gambino.jpg" alt="Person on a tour" class="post-head__img"> -->
                                            </figure>
                                            <div class="post-head__caption">
                                                <a [routerLink]="['/profile']" [queryParams]="{'id':post.user_id}" class="post-head__name">{{post.name}}</a>
                                                <span class="date">{{post.date | date}}</span>
                                            </div>
                                        </a>
                                        <button *ngIf="compare(post.user_id)" (click)="removePost(post._id)" class="btn-remove"><img  class="remove-icon" src="/assets/img/delete-button.svg" ></button>
                                        
                                    </div>
            
                                    <div class="posts__post-body">
                                        <p>
                                            {{post.body}}
                                        </p>
                                    </div>
                                    <div class="posts__post-options">
                                        <div class="post-rate"></div>
                                        <button (click)="sharePost(post._id)" class="btn-remove">share </button>
                                        
                                    </div>
                                    <div class="posts__post-comments">
            
                                        <div class="comments-head">Comments</div>
                                        <div class="post__comment" *ngFor="let comment of post.comments">
                                           <div class="wraper">
                                               <a [routerLink]="['/profile']" [queryParams]="{'id':comment.user_id}" class="comment-name">{{comment.name}}</a>
                                               <span class="date">{{comment.date | date}}</span>
                                           </div>
                                            
                                            <p class="comment-body">{{comment.body}}</p>
                                        <button *ngIf="compare(comment.user_id)" (click)="removeComment(comment._id)" class="btn-remove"><img  class="remove-icon" src="/assets/img/delete-button.svg" ></button>
                                               
                                        </div>
                                        <form action="" class="comments__add">
                                            <input type="text" class="comments__add__input" placeholder="write something" #in>
                                            <button (click)="addComment(post._id, in.value);in.value = ''" type="submit" class="btn-post">comment</button>
                                        </form>
                                    </div>
                                </div>   
    
                    </div>


            </div>


        </div>

    </section>