<section class="section-home">

        <div class="content">
            <div class="content__aside">
                <div class="search">
                    <input type="text" class="search__input" placeholder="Search">
                    <button class="search__button">
                        <img src="assets/img/search.svg" alt="" class="search__icon">
                    </button>
                </div>
                <div class="suggested-connections">
                    <h2 class="heading-primary--aside">suggested connections</h2>
                    <div class="s-connections">
                        <div class="person">
                            <a href="#" class="person__wraper">

                                <figure class="person__shape">
                                    <img src="assets/img/lorde.jpg" alt="Person on a tour" class="person__img">
                                </figure>
                                <div class="person__caption">
                                    <div class="person__name">Lorde</div>
                                    <div class="person__rate">4.3</div>

                                </div>
                            </a>
                            <button class="btn-follow">follow</button>

                        </div>
                        <div class="person">
                            <a href="#" class="person__wraper">
                                <figure class="person__shape">
                                    <img src="assets/img/childish gambino.jpg" alt="Person on a tour" class="person__img">
                                </figure>
                                <div class="person__caption">
                                    <div class="person__name">Childish Gambino</div>
                                    <div class="person__rate">4.1</div>

                                </div>
                            </a>
                            <button class="btn-follow">follow</button>

                        </div>
                    </div>
                </div>
                <div class="activity-log">
                        <h2 class="heading-primary--aside">activity log</h2>
                        <div class="activity-log__logs">
                            <div class="activity-log__event">
                                <a href="#" class="log"><strong>Nader Yasser</strong></a> rated your post
                            </div>
                            <div class="activity-log__event">
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a> rated your post
                            </div>
                            <div class="activity-log__event">
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a> followed
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a>
                            </div>
                            <div class="activity-log__event">
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a> followed
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a>
                            </div>
                            <div class="activity-log__event">
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a> rated
                                    <a href="#" class="log"><strong>Nader Yasser</strong></a>'s post
                            </div>
                        </div>
                    </div>
                <div class="links">
                    <a href="#" class="link">profile</a>
                    <a href="#" class="link">logout</a>
                </div>
            </div>


            <div class="content__area">


                <div class="posts">
                    <div class="posts__add-post">
                        <form action="" class="posts__add">
                            <input type="text" class="posts__add__input" placeholder="whats on tour mind...">
                            <button type="submit" class="btn-post">Post</button>
                        </form>
                    </div>


                    <div class="posts__post">
                        <a href="#">
                            <div class="posts__post-head">
                                <figure class="post-head__shape">
                                    <img src="assets/img/childish gambino.jpg" alt="Person on a tour" class="post-head__img">
                                </figure>
                                <div class="post-head__caption">
                                    <div class="post-head__name">Childish Gambino</div>
                                </div>
                            </div>
                        </a>

                        <div class="posts__post-body">
                            <p>
                                We just wanna party Party just for you We just want the money Money just for you I know you wanna party Party just for me
                            </p>
                        </div>
                        <div class="posts__post-rate"></div>
                        <div class="posts__post-comments">

                            <h2 class="comments-head">Comments</h2>
                            <div class="post__comment">
                                <a href="#" class="comment-name">Lorde</a>
                                <p class="comment-body">get some money , black man Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
                                    nostrum consequatur. Et a eum quibusdam, dignissimos possimus culpa non consequatur,
                                    quod voluptatibus facere ipsam deserunt. Cumque officia maiores omnis deleniti.</p>
                            </div>
                            <form action="" class="comments__add">
                                <input type="text" class="comments__add__input" placeholder="write something">
                                <button type="submit" class="btn-post">comment</button>
                            </form>
                        </div>
                    </div>
                    


                </div>


            </div>


        </div>

    </section>